node_modules
.idea

/application/controller-service-layer/artifacts.1
/Bel-KYC-Layer-App-KafkaBasedNetwork/artifacts/channel-artifacts
/Bel-KYC-Layer-App-KafkaBasedNetwork/artifacts/crypto-config
/Fabric-1.1.0-preview-Network/artifacts/channel/crypto-config

package-lock.json
#.env

# exception to the rule
# !server/uploads/.gitkeep 
# !logs/.gitkeep 
